# Análisis Sísmico

In [15]:
#Importar las librerías necesarias
%load_ext autoreload
%autoreload 2
import os
import sys
sys.path.append(os.getcwd())
from lib import etabs_utils as etb
from lib import sismo_utils as sis
#from mem import sismo_mem as smem
from ipywidgets import widgets
from IPython.display import display

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
_,SapModel = etb.connect_to_etabs()

In [17]:
sismo = sis.sismo_e30()

# Parámetros de Sitio

## Zonificación
![Factor de Zonifiación](./images/factor_zona.png)

## Factor de Suelo
![Factor de Suelo](./images/factor_suelo.png)

## Periodos del suelo
![Periodos del Suelo](./images/periodos_suelo.png)

## Sistema Estructural
![Sistema Estructural](./images/sistemas_estructurales.png)

## Factor de Amplificación sísmica
![Factor de Amplificacion Sísmica](./images/amplificacion_sismica.png)

## Factor de Importancia
![Factor de Importancia](./images//factor_importancia.png)

In [18]:
sismo.parametros_e30()

VBox(children=(Dropdown(description='Factor Zona', index=1, options=('1', '2', '3', '4'), style=DescriptionSty…

# Irregularidades

In [19]:
sismo.irregularidades_e30()

HBox(children=(VBox(children=(HTML(value='<b>Irregularidad en Altura</b>'), Checkbox(value=False, description=…

# Parámetros Sísmicos

In [20]:
sismo.show_params()

Parámetros de sitio:
Factor de zona:
    Z=0.25
Factor de Importancia:
    U=1.50
Factor de Suelo:
    S=1.00
Periodos del Suelo:
    Tp=0.40
    Tl=2.50
Factor Básico de Reducción:
    Rox=7.00
    Roy=7.00
Irregularidad en planta:
    Ipx=0.60
    Ipy=0.60
Irregularidad en altura:
    Iax=0.90
    Iay=0.60
Factor de Reducción:
    Rx=3.78
    Ry=3.78

In [22]:
sismo.select_load(SapModel)

HBox(children=(VBox(children=(HTML(value='<b>Dirección X</b>'), Dropdown(description='Sismo Estatico en X', op…

In [23]:
sismo.analisis_sismo(SapModel)

Análisis Modal:
Masa Participativa X: 0.95
Masa Participativa Y: 0.86
---Aumentar Grados de Libertad 0.86 < 0.9
Periodo y deformaxión X: Tx=0.644, Ux=0.691
Periodo y deformaxión Y: Ty=0.218, Uy=0.654
Factor de Reduccion con Irregularidades: R=3.7800000000000002
C en X: 1.55
C en Y: 2.50

Coeficiente de sismo estático X: 0.154
Coeficiente de sismo estático Y: 0.248
Exponente de altura X: 1.07
Exponente de altura Y: 1.00

In [24]:
sismo.modal

   Mode Period        UX            UY         RZ   SumUX   SumUY   SumRZ
0     1  0.644  0.690600  1.000000e-03     0.0111  0.6906   0.001  0.0111
1     2  0.451  0.015600  1.720000e-02     0.6635  0.7062  0.0182  0.6746
2     3  0.218  0.000300  6.536000e-01      0.018  0.7065  0.6719  0.6926
3     4  0.176  0.131200  6.000000e-04     0.0022  0.8377  0.6725  0.6948
4     5   0.13  0.001200  1.200000e-03     0.0169  0.8388  0.6737  0.7117
5     6  0.122  0.002200  1.300000e-03        0.1   0.841   0.675  0.8116
6     7    0.1  0.000400  2.900000e-03     0.0299  0.8414  0.6779  0.8415
7     8  0.087  0.019500  1.000000e-04     0.0068  0.8609   0.678  0.8483
8     9  0.076  0.033600  6.606000e-06  3.177E-05  0.8945   0.678  0.8483
9    10  0.064  0.000800  2.184000e-05     0.0019  0.8953   0.678  0.8502
10   11  0.054  0.000300  5.000000e-04     0.0488  0.8957  0.6785   0.899
11   12   0.05  0.001000  5.610000e-02     0.0011  0.8967  0.7346  0.9001
12   13   0.05  0.001200  1.230000e-01     0.0006  0.8978  0.8576  0.9007
13   14  0.049  0.007500  1.000000e-04     0.0004  0.9053  0.8578  0.9011
14   15  0.046  0.018700  3.659000e-05     0.0018  0.9241  0.8578  0.9029
15   16  0.042  0.000009  6.875000e-07     0.0002  0.9241  0.8578  0.9031
16   17  0.037  0.000045  1.239000e-06     0.0004  0.9241  0.8578  0.9035
17   18  0.035  0.000500  1.000000e-04     0.0204  0.9246  0.8579  0.9239
18   19  0.034  0.000700  4.201000e-05      0.002  0.9253   0.858  0.9259
19   20  0.033  0.005900  2.000000e-04     0.0007  0.9312  0.8581  0.9266
20   21  0.032  0.003600  7.295000e-07  2.517E-05  0.9348  0.8581  0.9266
21   22  0.031  0.006200  1.000000e-04     0.0022   0.941  0.8582  0.9288
22   23  0.026  0.003900  1.899000e-05     0.0082  0.9449  0.8582  0.9369
23   24  0.024  0.006300  4.295000e-05     0.0001  0.9513  0.8583  0.9371

## Revisión por Piso Blando

In [ ]:
sis.show_table(sismo.piso_blando_table)

Dropdown(description='Filtro', index=3, options=('Sy Max', 'SDy Max', 'SDx Max', 'Sx Min', 'Sx Max', 'Sy Min',…

,Story,OutputCase,UX,UY,ΔUX,ΔUY,VX,VY,lat_rig(k),0.7_prev_k,0.8k_prom,is_reg
24,Story8,Sx Min,0.028156,-0.000844,0.002988,-0.000100,-18.4866,0,6186.947791,0.000000,0.000000,Regular
25,Story7,Sx Min,0.025168,-0.000744,0.003500,-0.000097,-39.5596,0,11302.742857,4330.863454,0.000000,Regular
26,Story6,Sx Min,0.021668,-0.000647,0.004043,-0.000121,-57.4061,0,14198.886965,7911.920000,0.000000,Regular
27,Story5,Sx Min,0.017625,-0.000526,0.004436,-0.000139,-72.069,0,16246.393147,9939.220876,8450.287364,Regular
28,Story4,Sx Min,0.013189,-0.000387,0.004535,-0.000139,-84.1016,0,18545.005513,11372.475203,11132.806125,Regular
29,Story3,Sx Min,0.008654,-0.000248,0.004205,-0.000129,-92.7918,0,22067.015458,12981.503859,13064.076167,Regular
30,Story2,Sx Min,0.004449,-0.000119,0.003298,-0.000099,-98.1396,0,29757.307459,15446.910820,15162.243765,Regular
31,Story1,Sx Min,0.001151,-2E-05,0.001151,-0.000020,-99.7665,0,86678.105995,20830.115221,18765.154248,Regular

## Revisión por Irregularidad de Masa

In [27]:
sismo.rev_masa_table

    Story     Mass   1.5 Mass story_type is_regular
0  Story8  6.66875                Azotea    Regular
1  Story7  8.75356                Azotea    Regular
2  Story6  8.73707  13.105605       Piso    Regular
3  Story5  8.73903  13.108545       Piso    Regular
4  Story4  9.16343  13.745145       Piso    Regular
5  Story3  9.16343  13.745145       Piso    Regular
6  Story2  9.16343  13.745145       Piso    Regular
7  Story1  7.43363  11.150445       Piso  Irregular
8      NT  3.56015   5.340225       Piso    Regular
9    Base  3.91769                Sotano    Regular

## Revisión de torsión

In [ ]:
sis.show_table(sismo.torsion_table)

Dropdown(description='Filtro', index=3, options=('Sx Max', 'Sx Min', 'Sy Max', 'Sy Min', 'SDx Max', 'SDy Max',…

,Story,OutputCase,Direction,Max Drift,Avg Drift,Ratio,Height,Drifts,Drift < Dmax/2,tor_reg
4,Story8,Sy Min,X,0.000399,7.8E-05,5.118,2.5,0.000513,True,Regular
5,Story8,Sy Min,Y,0.000606,0.000513,1.181,2.5,0.000779,True,Regular
13,Story7,Sy Min,X,0.000504,0.000119,4.228,2.5,0.000648,True,Regular
14,Story7,Sy Min,Y,0.000645,0.000547,1.179,2.5,0.000829,True,Regular
22,Story6,Sy Min,X,0.000598,0.00016,3.746,2.5,0.000769,True,Regular
23,Story6,Sy Min,Y,0.00066,0.000556,1.187,2.5,0.000848,True,Regular
31,Story5,Sy Min,X,0.000641,0.00018,3.552,2.5,0.000824,True,Regular
32,Story5,Sy Min,Y,0.000654,0.000548,1.194,2.5,0.000841,True,Regular
40,Story4,Sy Min,X,0.000645,0.000186,3.46,2.5,0.000829,True,Regular
41,Story4,Sy Min,Y,0.000618,0.000513,1.204,2.5,0.000794,True,Regular
49,Story3,Sy Min,X,0.000612,0.000183,3.35,2.5,0.000787,True,Regular
50,Story3,Sy Min,Y,0.000542,0.000446,1.213,2.5,0.000697,True,Regular
57,Story2,Sy Min,X,0.00052,0.000157,3.312,2.5,0.000668,True,Regular
58,Story2,Sy Min,Y,0.000433,0.000348,1.244,2.5,0.000556,True,Regular
66,Story1,Sy Min,X,0.000162,4.4E-05,3.64,1.5,0.000347,True,Regular
67,Story1,Sy Min,Y,0.000159,0.000124,1.281,1.5,0.000341,True,Regular
75,NT,Sy Min,X,9E-06,2.221E-07,42.767,1.75,0.000017,True,Regular
76,NT,Sy Min,Y,2.9E-05,1E-06,40.601,1.75,0.000053,True,Regular

## Derivas

In [ ]:
sis.show_table(sismo.drift_table)

Dropdown(description='Filtro', index=4, options=('Sx Max', 'Sx Min', 'Sy Max', 'Sy Min', 'SDx Max', 'SDy Max',…

     Story OutputCase Direction    Drifts Drift_Check
6   Story8    SDx Max         X  0.003883      Cumple
15  Story7    SDx Max         X  0.004467      Cumple
24  Story6    SDx Max         X  0.005290      Cumple
33  Story5    SDx Max         X  0.005835      Cumple
42  Story4    SDx Max         X  0.005985      Cumple
51  Story3    SDx Max         X  0.005756      Cumple
59  Story2    SDx Max         X  0.004898      Cumple
68  Story1    SDx Max         X  0.002408      Cumple
77      NT    SDx Max         X  0.000441      Cumple
78      NT    SDx Max         Y  0.000051      Cumple

# Fuerza Cortante Mínima

In [30]:
sismo.shear_table.style.hide(axis='index').hide(axis='columns')