# Análisis Sísmico

In [35]:
#Importar las librerías necesarias
%load_ext autoreload
%autoreload 2
import os
import sys
sys.path.append(os.getcwd())
from lib import etabs_utils as etb
from lib import sismo_utils as sis
from lib import notebook_utils as ntb
#from mem import sismo_mem as smem
from ipywidgets import widgets
from IPython.display import display

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [36]:
_,SapModel = etb.connect_to_etabs()

In [37]:
sismo = ntb.Sismo()

# Parámetros de Sitio

## Zonificación
![Factor de Zonifiación](./images/factor_zona.png)

## Factor de Suelo
![Factor de Suelo](./images/factor_suelo.png)

## Periodos del suelo
![Periodos del Suelo](./images/periodos_suelo.png)

## Sistema Estructural
![Sistema Estructural](./images/sistemas_estructurales.png)

## Factor de Amplificación sísmica
![Factor de Amplificacion Sísmica](./images/amplificacion_sismica.png)

## Factor de Importancia
![Factor de Importancia](./images//factor_importancia.png)

In [38]:
sismo.parametros_e30()

VBox(children=(Dropdown(description='Factor Zona', index=3, options=(1, 2, 3, 4), style=DescriptionStyle(descr…

# Irregularidades

In [39]:
sismo.irregularidades_e30()

HBox(children=(VBox(children=(HTML(value='<b>Irregularidad en Altura</b>'), Checkbox(value=False, description=…

# Parámetros Sísmicos

In [40]:
sismo.show_params()

 Parámetros de sitio:
Factor de zona:
    Z=0.45
Factor de Importancia:
    U=1.00
Factor de Suelo:
    S=1.05
Periodos del Suelo:
    Tp=0.60
    Tl=2.00
Factor Básico de Reducción:
    Rox=7.00
    Roy=7.00
Irregularidad en planta:
    Ip=1.00
Irregularidad en altura:
    Ia=1.00
Factor de Reducción:
    Rx=7.00
    Ry=7.00

In [41]:
sismo.select_loads(SapModel)

HBox(children=(VBox(children=(HTML(value='<b>Dirección X</b>'), Dropdown(description='Sismo Estatico en X', in…

In [42]:
sismo.select_base_story(SapModel)

Dropdown(description='Piso Base', options=('Story1', 'Story2', 'Story3'), style=DescriptionStyle(description_w…

In [43]:
sismo.analisis_sismo(SapModel)

In [44]:
sismo.tables.modal

  Mode Period        UX        UY         RZ   SumUX   SumUY      SumRZ
0    1   0.36  0.864000  0.000000  2.486E-06   0.864       0  2.486E-06
1    2  0.273  0.000000  0.871800  1.513E-06   0.864  0.8718      4E-06
2    3  0.225  0.000011  0.000001     0.8499   0.864  0.8718     0.8499
3    4  0.101  0.118800  0.000000  4.188E-06  0.9828  0.8718     0.8499
4    5  0.077  0.000000  0.111900          0  0.9828  0.9837     0.8499
5    6  0.062  0.000000  0.000000     0.1317  0.9828  0.9837     0.9816
6    7  0.048  0.017200  0.000000  6.349E-07       1  0.9837     0.9816
7    8  0.037  0.000000  0.016300          0       1       1     0.9816
8    9  0.029  0.000002  0.000000     0.0184       1       1          1

## Revisión por Piso Blando

In [45]:
sismo.show_table(sismo.tables.piso_blando_table)

Dropdown(description='Filtro', options=('SDx Max', 'Sy', 'SDy Max', 'Sx', 'sin filtro'), style=DescriptionStyl…

,Story,OutputCase,UX,UY,ΔUX,ΔUY,VX,VY,lat_rig(k),0.7_prev_k,0.8k_prom,is_reg
0,Story3,SDx Max,0.012806,0.001874,0.003676,0.000509,37.5374,9.565,18791.748527,0.000000,0.0,Regular
1,Story2,SDx Max,0.00913,0.001365,0.004582,0.000674,74.2772,19.1643,28433.679525,13154.223969,0.0,Regular
2,Story1,SDx Max,0.004548,0.000691,0.004548,0.000691,95.2085,24.6712,35703.617945,19903.575668,0.0,Regular

## Revisión por Irregularidad de Masa

In [46]:
sismo.tables.rev_masa_table

    Story      Mass  1.5 Mass story_type is_regular
0  Story3   9.19054               Azotea    Regular
1  Story2  13.84954  20.77431       Piso    Regular
2  Story1  14.61188  21.91782       Piso    Regular
3    Base   2.72264               Sotano    Regular

## Revisión de torsión

In [47]:
sismo.show_table(sismo.tables.torsion_table)

Dropdown(description='Filtro', options=('Sx ', 'Sy ', 'SDx Max', 'SDy Max', 'sin filtro'), style=DescriptionSt…

,Story,OutputCase,Direction,Max Drift,Avg Drift,Ratio,Height,Drifts,Drift < Dmax/2,tor_reg
0,Story3,Sx,X,0.004506,0.004149,1.086,3.6,0.031542,False,Regular
6,Story2,Sx,X,0.005596,0.005195,1.077,3.6,0.039172,False,Regular
12,Story1,Sx,X,0.005557,0.005196,1.069,5,0.038899,False,Regular

## Derivas

In [48]:
sismo.show_table(sismo.tables.drift_table)

Dropdown(description='Filtro', options=('Sx ', 'Sy ', 'SDx Max', 'SDy Max', 'sin filtro'), style=DescriptionSt…

     Story OutputCase Direction    Drifts Drift_Check
0   Story3        Sx          X  0.031542   No Cumple
6   Story2        Sx          X  0.039172   No Cumple
12  Story1        Sx          X  0.038899   No Cumple

# Fuerza Cortante Mínima

In [49]:
sismo.tables.shear_table.style.hide(axis='index').hide(axis='columns')

# Generación de reporte

In [51]:
sismo.generate_memoria()